*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
}

/* Utilities */
.txt-red {
  color: red;
}

.btn {
  border: none;
  cursor: pointer;
}

.txt-center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
