.song-list h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.playlist tr td:nth-child(1) {
  cursor: pointer;
}

.playlist,
.playlist tr,
.playlist th,
.playlist td {
  border: 1px solid black;
  padding: 0.25rem;
  border-spacing: 0.5rem;
  text-align: center;
  font-size: 1rem;
}

.playlist tr:nth-child(even) {
  background-color: gray;
}
.playlist th,
.playlist td {
  min-width: 10rem;
}

.input-group {
  margin: 0.5rem 0;
}

.input-group *:nth-child(2) {
  margin: 0 0.5rem;
}

.btn-section {
  width: 100%;
  display: flex;
  justify-content: center;
}
#add-btn {
  border: 1px solid green;
  border-radius: 10px;
  margin-top: 4rem;
  padding: 0.75em;
  font-size: 1.25rem;
}

#add-btn:hover {
  border-color: transparent;
  background: green;
  color: white;
}
