.song-list h2 {
  margin-bottom: 1rem;
}

.playlist {
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  text-align: center;
}

.playlist,
.playlist tr,
.playlist th,
.playlist td {
  border: 1px solid black;
  padding: 0.5rem;
}

.playlist th,
.playlist td {
  min-width: 10rem;
}
